.card {
  text-align: center;
  width: 300px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 4px 4px 10px #8d8d8d;
  background-color: rgb(215, 247, 248);
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.name {
  font-size: 24px;
}

.stats {
  list-style: none;
  padding: 0;
}
