.transactionHistory {
  /* border-collapse: collapse; */
  margin: 30px auto;
  width: 300px;
  border-radius: 5px;
  border: 1px solid;
  box-shadow: 4px 4px 10px #8d8d8d;
}

.headItem {
  padding: 10px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: dodgerblue;
}

.bodyItem {
  padding: 10px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: rgb(162, 209, 255);
}
